.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 100px;
}

.score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    background-color: #404040;
    border: none;
    text-align: center;
    height: 35px;
    width: 35px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.scoretext {
    font-size: 4rem;
}
