.app {
    text-align: center;
}

.appheader {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

.title,
.bootcamper {
    color: white;
}

.fact {
    color: white;
    max-width: 50vw;
    font-style: italic;
    margin-bottom: 20vh;
}

.button {
    margin: 10px;
    height: 10vh;
    width: 20vw;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
}

.reveal {
    position: absolute;
    margin-top: 10vh;
    font-size: 20rem;
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: bold;
    transform: rotateZ(-20deg);
    border: 2rem solid white;
    border-radius: 2rem;
    padding: 10px;
}

.randomise {
    position: absolute;
    margin-top: 80vh;
    height: 10vh;
    width: 20vw;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
}
